 body {
    margin: 1rem;
 }

 .container-fluid {
    margin-top: 2rem;
 }

 #product-col, #cart-col, #checkout-col {
    gap: 1rem;
    background: #e8e8e8;
    padding: 1rem;
 }

 .card {
   max-width: 24rem;
 }
