 body {
    margin: 1rem;
 }

 h3 {
   margin-bottom: 2rem;
 }

 .container-fluid {
    margin-top: 2rem;
 }

 #product-col, #cart-col, #checkout-col {
    background: #e8e8e8;
    padding: 1rem;
 }

 #cart-row {
   gap: 2rem;
 }

 .card {
   max-width: 24rem;
 }
